<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      .profile-div img{
        width:100%;
        padding-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h1>{{ message }}</h1>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="text-center profile-div">
                <img class="profile-pic" src="{{ image }}" alt="Profile Picture">
                <!-- <p><a href="" class="btn btn-xs btn-warning">Log Out</a></p> -->
              </div>
            </div>
            <div class="col-md-5">
              <p> <b>Fullname:</b> {{ profile.displayName }}</p>
              <p> <b/>Email:</b> {{ email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
